<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Motorgram</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Motorgram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir benötigen deinen Standort für die Navigation und Kartenanzeige</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wir benötigen deinen Standort für die Navigation, auch im Hintergrund</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Hintergrund-Standort wird für die Navigation benötigt</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Spracherkennung für die Zielsuche</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mikrofon für Sprachsuche und Aufnahmen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Kamera für Profilbilder und Posts</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zugriff auf Fotos für Posts und Profilbilder</string>
	<key>NSMotionUsageDescription</key>
	<string>Bewegungssensoren für die Navigation</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth für Headset-Verbindung während der Navigation</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>